.Nav{
    background-color: slateblue;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.btn{
    /* color: white; */
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
    font-weight: bold;
    font-size: large;
}