.log{
    background-color:slategrey;
    text-align: center;
}
.form-container {
    margin: 40px 20px;
}

form{
    background-color: aquamarine;
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
}
.container {
    padding: 16px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
}

Form button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.gohome {
    background-color: rgb(105, 0, 225);
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
Form button:hover {
    opacity: 0.8;
}
      
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red;
}
span.pw{
    float: right;
    padding-top: 16px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.avatar {
    width: 40%;
    border-radius: 50%;
}

@media screen and (max-width: 300px) {
    span.pw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }